body{
    margin: 0;
    padding: 50px;
    background-color: lightskyblue;
}
  
h1,form{
    text-align: center;
}
  
textarea,form select {
    background: #fff;
    border: 1px solid black;
}
  
form select,form button {
    display: inline-block;
    padding: 10px;
}
  
#formAddButton {
    width: 100px;
    background-color:black;
    color: #fff;
    border: 0;
    margin: 25px 0px;
    transition: background-color 0.4s ease-in-out;
}
  
#formAddButton:hover {
    cursor: pointer;
    background-color: black;
}
  
#notes {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
}

.view-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}
  
.text {
    height: 25px;
    margin: auto;
    margin-top: 45px;
    font-size: 1.1rem;
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px 12px;
    cursor: pointer;
}
  
.view-container:hover {
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 16px 32px;
    opacity: 1;
}
  
a {
    text-decoration: none;
    color: black;
}
  
.note {
    width: 200px;
    height: 150px;
    font-size: 18px;
    border-radius: 0.4rem;
    background-color: white;
    border: 1px solid black;
    padding: 10px 12px;
    margin: 2.4rem 2.4rem 0 0;
    position: relative;
}
  
.note-text {
    height: 100%;
    overflow-y: auto;
    overflow: hidden;
    font-size: medium;
    text-align: justify;
}
  
.note span {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 0.2rem;
    right: 0.2rem;
    border-radius: 0.4rem;
    color: #999;
    text-align: center;
}
  
.modal {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal p{
    width: 50%;
    text-align: justify;
    padding: 10px 12px;
    border: 1px solid black;
    letter-spacing: 0.05rem;
    background-color: white;
}
  
.modal button{
    padding: 10px 12px;
    letter-spacing: 0.05rem;
    background-color: white;
    border: 1px solid lightgray;
}

.modal button:hover{
    border: 1.5px solid lightgray;
    cursor: pointer;
}

.modal-inactive {
    display: none;
}
  
.modal-active {
    display: flex;
    background-color: lightskyblue;
}
  