body{
    margin: 0;
}

h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

#input-container{
    margin: 50px auto 0;
    width: 500px;
    height: 200px;
    background-color: aqua;
    position: relative;
}

#sentence{
    padding: 10px 12px;
    width: 400px;
    position: absolute;
    top: 80px;
    left: 35px;
    border: 1px solid lightgray;
}

#sentence:focus{
    outline: none;
}

#buttons{
    margin: 75px auto;
    width: 150px;
}

#submit-button, #reset-button{
    width: 150px;
    height: 50px;
    padding: 10px 12px;
    letter-spacing: 0.05rem;
    border: 1px solid lightgray;
    background-color: azure;
    font-size: 1rem;
}

#submit-button:hover, #reset-button:hover{
    cursor: pointer;
}

#buttons input:focus{
    outline: none;
}
  
#middle {
    transition: .25s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    margin-bottom: 50px;
}